<!DOCTYPE html>
<html>
<head>
    <title>Send Notification</title>
</head>
<body>
<div>
    <form action="notify/send" method="post">
        <input name="message" type="text"/>
        <button type="submit">Send</button>
    </form>
</div>
</body>
</html>